
.main_body{
	padding-top: 75px;
	overflow: hidden;
	margin-bottom: 100px;
}



.title{
	margin-bottom: 45px;
}
.title h1{
	font-weight: bold;
	font-size: 36px;
	color: #2D317F;
	margin-bottom: 20px;
}
.titleContent{
	font-weight: 500;
	font-size: 16px;
	color: #999;
	
}

.profileLeftAva{
	margin-bottom: 30px;

}

.profileLeftAva img{
	width: 100%;
	border-radius: 10px;

}
.profileLeftButton{
	display: flex;
}
.buttonChangeAva{
	height: 50px;
	line-height: 50px;
	width: 76%;
	margin: auto;
	font-weight: bold;
	font-size: 18px;
	color: #999999;
	border: 1px solid #C4C4C4;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;

}
.buttonChangeAva:hover{
	background: #fcc72e;
	color: #fff;
	border: 1px solid #fcc72e;
}

.buttonSaveAva{
	height: 50px;
	line-height: 50px;
	width: 76%;
	margin: auto;
	font-weight: bold;
	font-size: 18px;
	color: #999999;
	border: 1px solid #C4C4C4;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
	margin-left: 10px;
	flex: 1;
	display: none;

}
.buttonSaveAva:hover{
	background: #2D317F;
	color: #fff;
	border: 1px solid #2D317F;
}
.profileRight{
	padding-left: 30px;
}
.profileRightTitle{
	font-weight: bold;
	font-size: 18px;
	color: #666;
	margin-bottom: 30px;
}

.form_group{
	display: flex;
	height: 42px;
    line-height: 42px;
    margin-bottom: 10px;
}
.form_group label{
	width: 150px;
	font-weight: 500;
	font-size: 16px;
	color: #999;
}
.form_item{

	flex:1;
	position: relative;
}
.inputText{
	font-weight: 500;
	font-size: 16px;
	color: #999;
}
.inputMain{
	display: none;
	position: relative;
	top: 0;
	right: 0;

}

.inputProfile{
	width: 100%;
	height: 42px;
	line-height: 42px;
	border-radius: 5px;
	border: 0;
	background: rgba(229, 229, 229, 0.5);
	font-weight: 500;
	font-size: 16px;
	color: #999;
	padding: 0 15px;
	outline: none;

}
.inputButon{
	opacity: 0;
	/*display: flex;*/
}
.inputButon button{
	width: auto;
	height: 50px;
	/*flex: 1;*/
	float: right;
	padding: 0 20px;

}
.inputButon .btnDeni {
	font-weight: bold;
	font-size: 16px;
	color: #999;
	border-radius: 5px;
	border: 1px solid #C4C4C4;
	margin-right: 8px;
	background: #fff;
}
.inputButon .btnSubmit {
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	border-radius: 5px;
	border: 1px solid #FCC72E;
	background: #FCC72E;
}
.inputButon .btnReset {
	font-weight: bold;
	font-size: 16px;
	color: #999;
	border-radius: 5px;
	border: 0;
	background: #fff;
	border: 1px solid #999;
	margin-right: 20px;
}
.inputEdit{
	position: absolute;
	top: 0;
	right: 0;
	font-weight: 500;
	font-size: 16px;
	color: #2D317F;
	cursor: pointer;
}
.inputDeni{
	position: absolute;
	top: 0;
	right: 0;
	font-weight: 500;
	font-size: 16px;
	color: #2D317F;
	cursor: pointer;
	display: none;
}





/*change password*/
.changePass{
	padding: 75px 0;
	border-radius: 10px;
	border: 1px solid #C4C4C4;
}
.changePassItem{
	height: 50px;
	line-height: 50px;
	margin-bottom: 54px;
}
.changePassItemLeft{
	font-weight: 500;
	font-size: 16px;
	color: #999;
}
.changePassItemRight{

}
.changePassItemRight input[type=password]{
	width: 100%;
	height: 42px;
	line-height: 42px;
	border-radius: 5px;
	border: 0;
	background: rgba(229, 229, 229, 0.5);
	font-weight: 500;
	font-size: 16px;
	color: #999;
	padding: 0 15px;
	outline: none;
}
.changePassItemRight input[type=submit]{
	font-weight: bold;
	font-size: 18px;
	color: #fff;
	border-radius: 5px;
	border: 0;
	background: #FCC72E;
	width: 270px;
	height: 62px;
}

.inputContent{
	font-weight: 500;
	font-size: 16px;
	line-height: 35px;
	color: #999;
	padding: 24px 85px 24px 24px;
	background: #F5F5F5;
	border-radius: 10px;
}
.profileRightItem{
	margin-bottom: 60px;
}
@media screen and (max-width: 768px){
	.main_body{
		margin-top: 0;
		padding-top: 40px;
	}
	.changePass{
		padding: 15px;
	}
	.changePassItemRight input[type=submit]{
		height: 50px;
	}
	.profileRight{
		padding-left: 0;
		margin-top: 30px;
	}
	.inputEdit{
		right: 15px;
	}
	.inputContent{
		padding: 10px;
		text-align: justify;
	}
}