
.main_body{
	padding-top: 75px;
	overflow: hidden;
	margin-bottom: 100px;
}

.share{
	
}
.share h1{
	margin: 0;
	margin-bottom: 50px;
	font-weight: bold;
	color: #2D317F;
}
/*.tableCourseImg{
	height: 100px;
	width: 180px;
}
.tableCourseImg img{
	height: 100px;
	max-width: 180px;
	box-shadow: 4px 8px 12px 0px #0000003b;
	border-radius: 5px;
}
.courseSale{
	background: rgb(237, 28, 36);
	padding: 0 10px;
	color: #fff;
	font-weight: bold;
	display: inline-block;
}
.courseName{
	font-size: 18px;
	font-weight: 600;
}
.tableCourseTeacherImg{
	display: block;
	color: #666;
}
.tableCourseTeacherImg img{
	height: 50px;
	box-shadow: 4px 8px 12px 0px #0000003b;
	border-radius: 50%;
}*/

.titleCopied{
	font-size: 18px;
	font-weight: bold;
	color: #999;
	margin-bottom: 15px;
}
.form-group{
	margin-bottom: 50px;
}
.noteCopied{
	font-size: 12px;
	font-weight: 500;
	color: #999;
}
.starActive{
	color: #ffbf2a;
}
.inputCopied{
	width: 100%;
	text-align: center;
	display: none;
}


.courseItem{
	display: flex;
	margin-bottom: 72px;
}
.courseItemImg{
	width: 30%;
	flex-shrink: 0;
	margin-right: 30px;
	position: relative;
	border-radius: 10px;
	display: block;
}
/*.courseItemImg:after{
	content: '';
	display: block;
	padding-top: 72%;
}*/
.courseItemSale{
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    position: absolute;
    top: 15px;
    left: 0;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    z-index: 1;
}
.courseItemSale:after{
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	top: 0;
	border-bottom: 31px solid #FCC72E;
	border-right: 20px solid #fff0;
	z-index: -1;
}

.courseItemRight{
	position: relative;
	height: 100%;
	/*font-size: 14px;
	line-height: 22px;
	font-weight: 500;
	color: #999 ;*/
}
a.courseItemRightTitle{
	font-size: 16px;
	line-height: 25px;
	font-weight: bold;
	color: #666;
	height: 60px;
	overflow: hidden;
	text-decoration: none;
	display: block;
}
.courseItemRightInfo{
	font-size: 14px;
	line-height: 22px;
	font-weight: 500;
	color: #999 ;
	margin-bottom: 25px;
}
.courseItemRightInfo i{
	font-size: 9px;
	margin: 0 10px;
}
.courseItemRightSummary{
	font-size: 16px;
	line-height: 25px;
	font-weight: 500;
	color: #999 ;
	height: 65px;
    overflow: hidden;
}
.courseItemRightPrice{
	/*position: absolute;
	width: 100%;
	height: 30px;
	bottom: 0;
	left: 0;*/
}
.courseItemRightOldPrice{
	font-size: 16px;
	line-height: 25px;
	font-weight: 500;
	color: #999 ;
}
.courseItemRightNewPrice{
	font-size: 24px;
	line-height: 38px;
	font-weight: bold;
	color: #2D317F ;
	height: 30px;
	line-height: 30px;

}
.courseItemStar{
	position: absolute;
	bottom: 5px;
    right: 15px;
	color: #C4C4C4;
	font-size: 16px;
}
@media screen and (max-width: 768px){
	.main_body{

		padding-top: 25px;
		margin-bottom: 25px;
	}
	.courseItemImg{
		width: 100%;
		height: 250px;
	}
	.courseItem{
		display: unset;

	}
	.courseItemRightSummary,a.courseItemRightTitle{
		height: unset;
	}
	.courseItemRightInfo{
		margin-bottom: 10px;
	}
	.courseItemRight{
		margin-top: 15px;
	}
	.courseItemRightPrice{
		margin: 15px 0;
	}
	.courseItemStar{
		bottom: 20px;
	}
	.getLink{
		margin-top: 25px;
	}
}