.main_body{
	padding-top: 50px;
	overflow: hidden;
	margin-bottom: 100px;
}



.loginLeftTitle{
	font-size: 24px;
    font-weight: bold;
    color: #2D317F;
    padding-bottom: 15px;
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 24px;
}
.cart_item{
	display: flex;
	margin-bottom: 38px;
}
.cart_item_left{
	width: 138px;
	flex-shrink: 0;
	margin-right: 10px;
}
.cart_item_ava{
	border-radius: 10px;
	overflow: hidden;
}
.cart_item_ava:after{
	content: '';
	display: block;
	padding-top: 72%;
}


.cart_item_right{

}
.cart_item_name{
	font-size: 14px;
    font-weight: bold;
    color: #666;
    margin-bottom: 8px;
}
.cart_item_content{
	display: flex;
	line-height: 38px;
}
.cart_item_remove{
	margin-right: 20px;
	padding: 0 10px;
	color: #c4c4c4;
	font-size: 14px;
}
.cart_item_oldprice{
	font-size: 14px;
	font-weight: 500;
	color: #999;
	margin-right: 10px;
}
.cart_item_price{
	font-size: 24px;
	font-weight: bold;
	color: #2D317F;

	flex: 1;
}