a {
    text-decoration: none;
}

body {
    background: #eee;
}
.d-none{
    display: none !important;
}
.canvasjs-chart-credit {
    display: none !important;
}

.masterError {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 199;
}

.masterErrorContent {
    margin: 15px auto;
    width: 500px;
    box-shadow: 11px 8px 20px 0px #a7a7a73b;
}

header {
    height: 80px;
    background: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: -3px 6px 20px 0px #a7a7a7;
    z-index: 99;
}

.headerLogo {
    height: 80px;
    padding: 15px 30px;
}

.headerLogo img {
    height: 100%;
}

.headerAccount {
    float: right;

}

.headerAccount a {
    text-decoration: none;

}

.headerAccount a:hover {
    background: #fcb040;
    color: #fff;
    font-weight: bold;

}

.navAccount {
    cursor: pointer;
}

.navAccount.active {
    background: #fcb040;
    color: #fff;
    font-weight: bold;

}

.navAccount.req_active {
    background: #d43939;
    color: #fff;
    font-weight: bold;
}

.navAccount.req_done {
    background: #51b76c;
    color: #fff;
    font-weight: bold;
}

.headerAccountName {
    padding: 30px 20px;
    display: inline-block;
    color: #000;
}

.headerAccountLogout {
    padding: 30px 20px;
    display: inline-block;
    color: #000;

}

.homeChart {
    margin-top: 50px;
}

.homeChartAccount {
    box-shadow: 2px 2px 10px #0005;
    margin: 20px auto;
    width: auto;
    height: 450px;
    padding: 15px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;

}

.btnChangeChartAccountPre {
    position: absolute;
    top: 10px;
    right: 150px;
    padding: 10px 25px;
    cursor: pointer;
    box-shadow: 2px 2px 10px #0004;
    border-radius: 5px;
    z-index: 1;
    display: none;
}

.btnChangeChartAccountNext {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 10px 25px;
    cursor: pointer;
    box-shadow: 2px 2px 10px #0004;
    border-radius: 5px;
    z-index: 1;
}

.chart {
    margin: 20px auto;
    height: 370px;
    width: auto;
}

.homeChartAccount .chart {
    position: absolute;
    top: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    transition: 1s;
}

#chartLine01 {
    left: 50%;
}

#chartLine02 {
    left: 150%;
}

#chartLine03 {
    left: 250%;
}

.homeChartRevenue {
    box-shadow: 2px 2px 10px #0005;
    margin: 20px auto;
    width: auto;
    height: 450px;
    padding: 15px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;

}

.btnChangeChartRevenuePre {
    position: absolute;
    top: 10px;
    right: 150px;
    padding: 10px 25px;
    cursor: pointer;
    box-shadow: 2px 2px 10px #0004;
    border-radius: 5px;
    z-index: 1;
    display: none;
}

.btnChangeChartRevenueNext {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 10px 25px;
    cursor: pointer;
    box-shadow: 2px 2px 10px #0004;
    border-radius: 5px;
    z-index: 1;
}

.homeChartRevenue .chart {
    position: absolute;
    top: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    transition: 1s;
}

#chartRevenue01 {
    left: 50%;
}

#chartRevenue02 {
    left: 150%;
}

#chartRevenue03 {
    left: 250%;
}

nav {
    position: fixed;
    top: 90px;
    left: 0;
    width: 230px;
    height: 80%;
    overflow: auto;
}
nav::-webkit-scrollbar {
    width: 10px;
}


nav ul {
    padding: 0;
}

nav ul li {
    float: left;
    list-style: none;
    width: 80%;

}
nav ul li:last-child{
    margin-bottom: 50px;
}

nav ul li a {
    background: #32569c;
    margin: 1px 0;
    border-radius: 0 10px 10px 0;
    display: block;
    width: 100%;
    height: 42px;
    line-height: 42px;
    padding: 0px 15px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: width 0.5s, padding 0.5s;
    box-shadow: 2px 5px 12px 0px #777777;
}

nav ul li a:hover {
    background: #fcb040;
    padding: 0 30px;
    width: 110%;
    color: #fff;
    text-decoration: none;
}

.navUser img {
    background: #fff;
    border-radius: 50%;
    height: 40px;
    margin: 0 10px;
}

main {
    display: block;
    margin: 95px 10px 20px 230px;
    background: #fff;
    min-height: 920px;
    border-radius: 20px;
    padding: 20px;
}

.bodyHeader {
    margin: 20px 0;
}

.bodyHeader .title {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

.accountBtnAdd {
    margin: 15px 0 10px;
}

.tableOption {
    width: 130px;
}

.tableImgAvatar {
    width: 50%;
}

/*img.tableImgAvatar:hover{
	filter: grayscale(100%);
	}*/
.tableAcountImg img {
    width: 50px;
    border-radius: 50%;
}

.tableCourseImg img {
    height: 50px;
    /*border: 2px solid #000;*/
    box-shadow: 4px 8px 12px 0px #0000003b;
    border-radius: 5px;
}

.tableCourseImg a {
    width: 100px;
    display: block;
    border-radius: 5px;
    overflow: hidden;
}

.tableCourseImg a:after {
    content: '';
    display: block;
    padding-top: 56%;
}

.tableIcon {
    font-size: 24px;
}

.orderDetailInfo {
    margin: 10px 0;
    display: block;
}

/*comment*/

.starActive {
    color: #ffca00;
}

.editComImg img {
    box-shadow: 4px 8px 12px 0px #0000003b;
    width: 80%;
}

.editComStar {
    font-size: 40px;
}

.editComStar i:hover {
    cursor: pointer;
}

/*news*/

.tableNewsImg img {
    width: 140px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #ccc;
}

.tableTD a {
    display: block;
    padding: 15px 0;
    width: 100%;
    color: #333;
    text-decoration: none;
}

.btnChangePass {

}

a.docGroupItem {
    width: 100%;
    box-shadow: 6px 7px 20px 2px #e0dfdf;
    display: block;
    padding: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.3s;

}

a.docGroupItem:hover {
    transform: translate(0px, -5px);
    box-shadow: 6px 7px 20px 2px #999;
}

.docGroupItem img {
    height: 90px;
    margin: auto;
    display: block;
}

.docGroupItem p {
    text-align: center;
    font-size: 18px;
    color: #000;
    padding: 20px 0 0;
}

.tableBannerImg {
    height: 100px;

}

.tableBannerImg img {
    height: 100%;
    border-radius: 10px;
    box-shadow: 4px 8px 12px 0px #0000003b;
}

a.btnRemove {
    padding: 6px 15px;
    color: #000;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 50px;
    text-decoration: none;
}

a.btnDown {
    padding: 6px 15px;
    color: #000;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 50px;
    text-decoration: none;
}

.btn_UpDown:hover {
    color: #f44;
    font-weight: bold;
}

.dashboard {
    display: flex;
}

.dashboard .item {
    height: 100px;
    flex: 1;
    box-shadow: 5px 5px 10px #999;
    margin-right: 20px;
    display: block;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
}

.dashboard .student {
    background: #d43939;
}

.dashboard .rating {
    background: #ffbe00;
}

.dashboard .course {
    background: #32569c;
}

.dashboard .earnings {
    background: #51b76c;
}

.dashboard .item .icon {
    height: 100%;
    line-height: 100px;
    font-size: 50px;
    width: 100px;
    text-align: center;
    color: #fff;
    transition: 0.5s;
    position: absolute;
}

.dashboard .item:hover {
    transform: scale(1.1);
}

.dashboard .item .content {
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    padding-left: 5px;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    text-align: right;
}

.dashboard .item .content .contentNum {
    position: relative;
    right: 10px;
    bottom: 10px;
    font-size: 32px;
    color: #fff9;
}

.dashboard .item .content p {
    font-size: 20px;
    font-weight: bold;

}

.videoContentTitle {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

.btnEditPart {
    color: #999;
    font-size: 18px;
    padding: 0 20px;
}

.videoContent {
    padding: 30px;
    overflow: hidden;
    width: 700px;

}

.videoContent .videoItem {
    padding: 0 10px 0 50px;
    border-radius: 10px;
    height: 70px;
    line-height: 70px;
    position: relative;
    transition: 0.2s;
}

.videoContent .videoItem:hover {
    box-shadow: 2px 5px 20px #333;
    transform: translate(0px -5px);
}

.videoContent .videoItem:hover .videoItemTitle {
    color: #000;
    font-weight: bold;
}

.videoContent .videoItem:last-child {
    border-left: none;
}

.videoContent .videoItem .videoItemTitle {
    color: #999;
    display: inline-block;
}

.videoContent .videoItem .videoItemTime {
    float: right;
    color: #999;
}

.videoContent .videoItem .videoItemBtnPlay {

    position: absolute;
    left: 12px;
    top: 0;
    display: inline-block;
}

.videoContent .videoItem .videoItemBtnPlay img {
    width: 20px;
}

.courseRateRight h3 {
    text-align: center;
    font-weight: bold;

}

.courseRateRight h3 .star {
    color: #fcb64e;
}

.courseRateRight ul {
    padding-left: 0;
}

.courseRateRight ul li {
    list-style: none;
    width: 100%;
    clear: both;
    padding: 10px;
}

.courseRateRight ul li .rateName {
    float: left;
    margin-right: 20px;
}

.courseRateRight ul li .rateSlide {
    height: 25px;
    border-radius: 10px;
    background: #fcb64e;
    width: 10%;
    display: inline-block;;
}

.courseRateRight ul li .rateValue {
    float: right;
}

.courseStudent {
    border-right: 2px solid #ccc;
}

.courseStudent .rateImg {
    height: 50px;
    display: inline-block;
}

.courseStudent .rateImg img {
    height: 100%;
    border-radius: 10px
}

.courseStudent h3 {
    text-align: center;
    font-weight: bold;

}

.courseStudent h3 .star {
    color: #32569c;
}

.courseStudent ul {
    padding-left: 0;
}

.courseStudent ul li {
    list-style: none;
    width: 100%;
    clear: both;
    padding: 5px;
}

.courseStudent ul li .rateName {
    float: left;
    margin-right: 20px;
}

.courseStudent ul li .rateSlide {
    height: 25px;
    border-radius: 10px;
    background: #32569c;
    width: 10%;
    display: inline-block;;
}

.courseStudent ul li .rateValue {
    float: right;
}

.tableImg {
    height: 55px;
    width: auto;
}

.tableImg img {
    height: 100%;
    width: auto;
}


.editDocument ul{
    list-style: none;
    margin-left: -40px;
}

.editDocument{
    margin-bottom: 30px;
}
.editDocument .fa-trash-alt{
    margin: 0 25px;
}
.document{
    position: relative;
    line-height: 55px;
    border:#F2F2F2 1px solid;
    color: #999999;
    font-size: 16px;
    margin-bottom: 8px;
    display: flex;
}
.document a{
    text-decoration: none;
    color: unset;
}
.editDocument .fa-edit{
    position: absolute;
    top: 0;
    right: 30px;
    line-height: 55px;
}
.fas:hover{
    cursor: pointer;
}

.modal-content{
    width: 100%;
}
.modal-dialog{
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.modal-title{
    font-size: 24px;
    color: #999999;
    font-weight: bold;
    margin-bottom: 25px;
}
.modal-content{
    padding: 30px 50px 30px 45px;
}
.input input{
    line-height: 45px;
    border: none;
    background:#F5F5F5;
    border-radius: 7px;
    outline: none;
    color: #999999;
    font-size: 14px;
    padding: 0 15px;
    font-style: italic;
    width: 100%;
}
.modal-footer{
    border-top: unset;
    padding: unset;
}
.btn-miss{
    border:1px #C4C4C4 solid;
    border-radius: 4px;
    background:none;
    height: 45px;
    width: 135px;
    color: #999999;
    font-size: 18px;
    font-weight: bold;
}
.btn-create{
    border-radius: 4px;
    background:#FCC72E;
    height: 45px;
    width: 135px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border:none;
}
.inputFile{
    line-height: 45px;
    width: 175px;
    background: #F5F5F5;
    border: 1px solid #C4C4C4;
    color: #999999;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    position: relative;
}
.inputFile:hover{
    cursor: pointer;
}
.inputFile input[type=file]{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
#fileItem,#fileItem_edit{

}
.show_doc iframe::-webkit-scrollbar {
    width: 4px;
}
.addListUnit .fas,.addDocument .fas{
    color: #2D317F;
    border: 2px solid #2D317F;
    padding: 10px;
    margin-right: 5px;
}
@media screen and (max-width: 768px) {
    nav {
        z-index: 4;
        left: unset;
        display: none;
        top: 0;
        width: 100%;
        background: #32569c;
        height: 100vh;
        overflow: auto;

    }

    nav ul li a {
        margin: unset;
        border-radius: unset;
        box-shadow: unset;
    }

    .bt-mobile {
        position: fixed;
        top: 25px;
        right: 20px;
        z-index: 6;
    }

    .bt-mobile:hover {
        cursor: pointer;
    }

    .headerLogo {
        position: relative;
    }

    .bt-mobile span {
        display: block;
        width: 35px;
        height: 5px;
        margin-bottom: 5px;
        background: #ffbe00;
    }

    .headerAccount {
        display: none;
    }

    main {
        margin: 0;
        margin-top: 70px;
        overflow: auto;
    }

    .dashboard {
        display: unset;
    }

    .dashboard .item {
        margin-right: 0;

        margin-top: 15px;
    }

    header {
        z-index: 2;
    }

    .navAccount {
        text-align: center;
        border-bottom: 1px solid #8c8c8c;
    }

    nav ul {
        overflow: hidden;
        padding-top: 20px;
    }

    .navUser {
        height: 50px;

    }

    .table {
        width: 800px !important;
    }

}